<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />

  <title>Cpascher - Accueil</title>

  <link rel="canonical" href="http://localhost:3000" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <!-- Bootstrap core CSS -->
  <link href="assets/dist/css/bootstrap.css" rel="stylesheet" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="css/carousel.css" rel="stylesheet" />
  <link href="css/index.css" rel="stylesheet" />
  <link href="css/spinner.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-white shadow-sm">
      <a class="navbar-brand mr-auto mr-lg-0" href="{{ home }}">
        <img src="assets/images/logos/Cpascher_logo_small.png" alt="Cpascher" />
      </a>

      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav navbar-dark mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="#">Tous nos rayons <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Promos de l'été</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Mon compte</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Pas encore inscrit ?</a>
              <a class="dropdown-item" href="#">F.A.Q</a>
              <a class="dropdown-item" href="#">Mentions légales</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="search">
          <input id="search" name="q" class="form-control mr-sm-2" type="text"
            placeholder="Lancez-vous" aria-label="Search" />

          <button id="submitSearchCta" class="btn btn-outline-success my-2 my-sm-0">
            <i class="fa fa-search"></i>
          </button>
          <a id="cartCta" class="btn btn-success my-2 my-sm-0 ml-3" href="cart">
            <i class="fa fa-shopping-cart"></i>
            <span id="cartSum" class="badge badge-light ml-3">0</span>
          </a>
        </form>
      </div>
    </nav>

    <div class="nav-scroller bg-light shadow-sm">
      <nav class="nav nav-underline">
        <a class="nav-link disabled" href="#">
          <span class="badge badge-pill bg-light align-text-bottom">Nos partenaires</span>
        </a>
        <a class="nav-link" href="#">Voyages.pascher </a>
        <a class="nav-link" href="#">Locations.pascher</a>
        <a class="nav-link" href="#">Voitures.pascher</a>
      </nav>
    </div>
  </header>

  <main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#077" />
          </svg>
          <img class="image-middle" width="1200px" role="img" src="assets/images/teasers/voyages.png" />
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Envie de vous évader ?</h1>
              <p>
                Partez en bord de mer grâce aux offres exclusives de notre partenaire Voyages.pascher.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">J'y vais</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#770" />
          </svg>
          <img class="image-middle" width="1200px" role="img" src="assets/images/teasers/chaises_jardin.png" />
          <div class="container">
            <div class="carousel-caption">
              <h1>Profitez de l'été dans votre jardin</h1>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">En savoir plus</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#707" />
          </svg>
          <img class="image-middle" width="1200px" role="img" src="assets/images/teasers/librairie.png" />
          <div class="container">
            <div class="carousel-caption text-right">
              <div class="bg-dark p-1">
                <h1>Promo sur la collection Henri Potier</h1>
                <p>
                  Il vous manque un bout des aventures d'Henri Potier ? Ne
                  restez plus collé grâce la collection complète à prix réduit
                  !
                </p>
              </div>
              <p>
                <a class="btn btn-lg btn-primary" href="search?q=potier" role="button">J'en profite</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Partez avec Voyages.pascher</h1>
      </div>

      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Eux</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              40 € <small class="text-muted">/ j</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>2 personnes</li>
              <li>Petit déjeuner inclus</li>
              <li>Wifi disponible</li>
              <li>Proche piscine municipale</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">
              Je réserve
            </button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Saint-Aubin sur mer</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              79 € <small class="text-muted">/ j</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 personne</li>
              <li>Petit déjeuner non-inclus</li>
              <li>Wifi non disponible</li>
              <li>Proche centre-ville</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">
              Je réserve
            </button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Saint Lô</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              129 €<small class="text-muted">/ j</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>4 personnes</li>
              <li>Tout compris</li>
              <li>Service inclus</li>
              <li>Proche hôpital ...</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">
              Nous contacter
            </button>
          </div>
        </div>
      </div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Disque à lancer en caoutchouc <span class="text-muted"></span>densifié 1KG </span> avec rond central en vert
          </h2>
          <p class="lead">
            Pour l'initiation au lancer du disque. En caoutchouc densifié. Coloris (rond central) : Vert
          </p>
          <div class="badge-pill">6.90 €</div>
        </div>
        <div class="col-md-5">
          <img src="assets/images/articles/disque-a-lancer.jpg" alt="Disque à lancer"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Disque à lancer" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            Aspirateur Robot Nettoyeur<span class="text-muted"> avec App Wifi</span>, navigation
            cartographique, aspiration 4KPA, réservoir d’eau électrique, mémoire
          </h2>
          <p class="lead">
            <label for="points-forts">Les points forts :</label>
            <ul id="points-forts">
              <li>Collecte des poussières : sans sac</li>
              <li>Mode de nettoyage : humide et sec</li>
              <li>Capacité du collecteur : 0.6L</li>
              <li>Type de filtre : filtre HEPA </li>
            </ul>
          </p>
          <div class="badge-pill">189 €</div>

        </div>
        <div class="col-md-5 order-md-1">
          <img src="assets/images/articles/robot-nettoyeur-wifi.jpg" alt="Disque à lancer"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Disque à lancer" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Platine vinyle avec haut-parleurs stéreo intégrés & couvercle - <span class="text-muted">Tourne-disque 2
              vitesses 33T 45T</span> - Sorties casque et RCA
          </h2>
          <p class="lead">
            Platine vinyle compacte avec entraînement à courroie, haut-parleurs intégrés et fonction start/stop
            auto. Sortie casque jack 3,5mm. Avec système de prise de son et capot de protection. C'est une platine vinyle
            HiFi compacte. Elle peut lire à toutes les vitesses standard.
          </p>

          <label for="points-forts">Les points faibles :</label>
          <ul id="points-forts">
            <li>N'est pas compatible avec le disque à lancer</li>
          </ul>
          <div class="badge-pill">49 €</div>

        </div>
        <div class="col-md-5">
          <img src="assets/images/articles/platine-vinyle.jpg" alt="Disque à lancer"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Disque à lancer" />

        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <p>
            Garantie 100% satisfait <br /> ou remboursé
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <p>
            Sécurité des paiements
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <p>
            Confidentialité<br />des données personnelles
          </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </main>

  <footer class="py-5 border-top mt-auto bg-light">
    <div class="container bigfooter">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="assets/images/logos/Cpascher_logo_smaller.png" alt="" width="124" height="24" />
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/phink.js" data-init="showCookiesPopin"
    data-depends="assets/js/vendor/jquery.slim.min.js;assets/dist/js/bootstrap.bundle.js;js/cookies.js;js/promo.js;js/cart.js"
    data-sources="js/main.js"></script>
</body>

</html>